@model IEnumerable<TARS2.DBModel.Dividend>

@{
    ViewBag.Title = "Index";
}

<h2>Dividends</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    @Html.DropDownList("Symbols", "--Select a Symbol--")
    <input type="submit" value="Find Symbol" />
}

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashDividend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashDividend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div Class="error">@ViewData["NoRecords"]  </div>  